#root,
body,
html {
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/coins_bg2.jpg');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.income {
    border-bottom: 5px solid green;
}

.expense {
    border-bottom: 5px solid red;
}

.card-head-income {
    color: green;
}
.card-head-expense {
    color: red;
}

.avatar-income {
    
    background-color: green!important;
}

.avatar-expense {
    background-color: red!important;
}

.mui-list {
    max-height: 92px;
    overflow-y: scroll;
}

.doughnut{
    width: fit-content;
    height: 95%;
    margin: 0 auto;
    
}


